---
import Layout from '../layouts/Layout.astro';
import ButtonLink from '../components/ButtonLink.jsx';
import NavBarDrawer from '../components/NavBarDrawer.jsx';
---

<Layout>
  <div class="hero bg-no-repeat bg-cover bg-center
		bg-[url('/mariage-emma-et-quentin/background-mobile.jpeg')]
		md:bg-none
		xl:bg-[url('/mariage-emma-et-quentin/background-desktop.jpeg')]">
    <div class="buttons">
      <NavBarDrawer />
    </div>
      {/**
       
      <ButtonLink href="/informations">Informations</ButtonLink>
      <ButtonLink href="/hebergement">Hébergement</ButtonLink>
      <ButtonLink href="/cadeaux">Liste de cadeaux</ButtonLink>
      */}

    <div class="hero-content align-center">
      <h1 class="fancy-text">Emma & Quentin</h1>
      <h2 class="date-text">31.05.2025</h2>
    </div>
  </div>
  <div class="additional-info">
    <h2>Informations supplémentaires</h2>
    <p>Ajoutez ici les informations supplémentaires que vous souhaitez afficher sous l'image de fond.</p>
  </div>
</Layout>

<style>
  .hero {
    width: 100%;
    height: 100%;
  }
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%, -70%);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 5px;
  }
  .drawer {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .additional-info {
    padding: 20px;
    text-align: center;
  }
  .fancy-text {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem; /* Ajustez la taille de la police selon vos besoins */
  }
  .date-text {
    font-family: 'Great Vibes', cursive;
    font-size: 1.5rem; /* Ajustez la taille de la police selon vos besoins */
  }

  @media (min-width: 768px) {
    .fancy-text {
      font-size: 6rem; /* Taille pour desktop */
    }
    .date-text {
      font-size: 3rem; /* Taille pour desktop */
    }
  }
</style>