---
import Layout from '../layouts/Layout.astro';

---

<Layout>
  <div class="hero bg-primary min-h-screen p-6 text-base-100">
    <div class="max-w-4xl mx-auto space-y-10">
      <h1 class="text-6xl font-bold text-center" style="font-family: 'Great Vibes', cursive;">Informations</h1>

      {/* Messe de mariage */}
      <div class="bg-base-100 text-neutral p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold text-primary">Messe de mariage</h2>
        <p class="mt-2">Nous sommes heureux de vous convier à la messe de notre mariage le <strong>samedi 31 mai 2025 à 15h30</strong> à l’église de la Nativité de Marie de Graveson.</p>
        <div class="mt-4">
          <h3 class="font-semibold">Informations pratiques :</h3>
          <ul class="list-disc pl-6">
            <li>Peu de places de parking près de l’église, privilégiez le parking du U Express (5 min à pied).</li>
            <li>La messe durera environ une heure.</li>
          </ul>
        </div>
        <img src="/mariage-emma-et-quentin/eglise-graveson.jpg" alt="Eglise de Graveson" class="w-full mt-4 rounded-lg" />
      </div>

      {/* Réception */}
      <div class="bg-base-100 text-neutral p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold text-primary">Réception</h2>
        <p class="mt-2">A la suite de la messe, les invités sont attendus pour le cocktail <strong> à 18h </strong> à La Ferme Saint Hugues de Pujaut.</p>
        <div class="mt-4">
          <h3 class="font-semibold">Informations pratiques :</h3>
          <ul class="list-disc pl-6">
            <li>La Ferme Saint Hugues se situe à 30 minutes en voiture de l’église de Graveson.</li>
            <li>Le lieu de réception possède un parking suffisement grand</li>
            <li>Un rafraîchissement vous sera offert à votre arrivée, suivi du vin d'honneur.</li>
            <li>Le cocktail durera environ 2 heures.</li>
          </ul>
        </div>
        <img src="/mariage-emma-et-quentin/vignes-pujaut.jpg" alt="Lieu de réception" class="w-full mt-4 rounded-lg" />
      </div>

      {/* Thème */}
      <div class="bg-base-100 text-neutral p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold text-primary">Thème</h2>
        <p class="mt-2">Le thème de notre mariage est <strong>Terracotta</strong>. Si vous souhaitez vous habiller dans cette ambiance, voici une palette de couleurs pour vous inspirer :</p>
        <img src="/mariage-emma-et-quentin/palette-couleurs.jpg" alt="Palette terracotta" class="w-full mt-4 rounded-lg" />
      </div>

    </div>
  </div>
</Layout>

<style>
  .hero {
    padding-top: 100px;
  }
</style>