---
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <h1 class="text-4xl font-bold mb-8">Informations sur le mariage</h1>
    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-content">
                <h2 class="text-2xl font-semibold">Messe de mariage</h2>
                <p>Nous sommes heureux de vous convier à la messe de notre mariage le samedi 31 mai 2025 à 15h30 à l’église de la Nativité de Marie de Graveson.</p>
                <p><strong>Lieu :</strong> Église de la Nativité de Marie de Graveson</p>
                <p><strong>Horaire :</strong> 31 mai 2025 à 15h30</p>
                <img src="/mariage-emma-et-quentin/eglise-graveson.jpeg" alt="Église de Graveson" class="timeline-image" />
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-content">
                <h2 class="text-2xl font-semibold">Informations pratiques</h2>
                <p>Voici quelques informations pratiques :</p>
                <ul>
                    <li>Il n’est pas évident de se garer proche de l’église du fait du faible nombre de places de parking et des rues étroites de Graveson. Aussi, nous vous conseillons d’anticiper et de vous garer sur le parking du U Express de Graveson pour ensuite venir à pied (5 minutes de marche environ).</li>
                    <li>La messe devrait durer une heure environ</li>
                    <li>Le thème de la décoration du mariage est « terracotta ». Nous n’imposons pas de style vestimentaire particulier mais si vous souhaitez porter des vêtements dans le thème cela est possible. Voici ci-dessous la palette de couleurs :</li>
                </ul>
                <img src="/mariage-emma-et-quentin/palette-couleurs.jpeg" alt="Palette de couleurs" class="timeline-image" />
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-content">
                <h2 class="text-2xl font-semibold">Réception à Pujaut</h2>
                <p>Pour les personnes conviées au lieu de réception à Pujaut, il y a assez de places sur le parking pour se garer.</p>
                <p>Vous serez accueillis au lieu de réception par un rafraichissement avant de passer au vin d’honneur.</p>
                <img src="/mariage-emma-et-quentin/vignes-pujaut.jpg" alt="Lieu de réception à Pujaut" class="timeline-image" />
            </div>
        </div>
    </div>
</Layout>

<style>
  .timeline {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .timeline-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .timeline-content {
    flex: 1;
  }
  .timeline-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
  }
  @media (max-width: 768px) {
    .timeline-item {
      flex-direction: column;
    }
    .timeline-image {
      width: 100%;
    }
  }
</style>