---
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <h1>Informations sur le mariage</h1>
    <p><strong>Lieu :</strong> Château de la Belle au Bois Dormant</p>
    <p><strong>Horaire :</strong> 31 mai 2025 à 15h00</p>
</Layout>