---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="hero bg-gradient-to-b from-primary to-secondary min-h-screen p-8 text-base-100 flex flex-col items-center relative overflow-hidden">
    {/* Décorations */}    
    <h1 class="text-6xl font-extrabold mb-8 text-center" style="font-family: 'Great Vibes', cursive;">Liste de Mariage</h1>
    
    <div class="max-w-3xl bg-base-100 text-neutral p-10 rounded-xl shadow-2xl text-left">
      <div class="flex flex-col md:flex-row md:items-center md:space-x-6 space-y-4 md:space-y-0">
        <p class="text-lg leading-relaxed flex-1">
          Pour ceux qui souhaitent nous offrir un cadeau ou une participation financière,
          nous avons créé une liste de mariage sur <strong>MilleMerciMariage</strong>.
          Vous pouvez y contribuer en offrant un cadeau ou une participation libre.
        </p>
        <div class="md:w-1/3 text-center md:text-right">
          <a 
            href="https://www.millemercimariage.com" 
            target="_blank" 
            rel="noopener noreferrer" 
            class="btn btn-secondary text-lg px-6 py-3 rounded-full shadow-md md:w-auto">
            Accéder à la liste
          </a>
        </div>
      </div>
      
      <p class="mt-8 text-lg text-center">
        Une urne sera également mise à disposition le jour du mariage pour ceux qui
        préfèrent offrir leur participation en main propre.
      </p>
    </div>
  </div>
</Layout>

<style>
  .hero {
    padding-top: 100px;
  }
</style>